<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>业务统计 - 百通e箱冷链容器租赁平台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../css/font.css">
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/myset.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/xadmin.css">
    <!--[if lt IE 9]>
      <script src="../js/html5.min.js"></script>
      <script src="../js/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
    .search-settings .layui-input-inline {
        width: 150px;
    }

    .search-settings .company {
        width: 210px;
    }
    .statistics {
            position: relative;
            padding: 12px 20px;
            padding-bottom: 0px;
        }

    .statistics>div {
        padding: 0 20px;
    }
    .statistics>div:first-of-type{
        padding-left: 0px;
    }
    .statistics>div:last-of-type{
        padding-right: 0px;
    }

    .statistics .layui-card {
        text-align: center;
        background-color: #fff;
        border:solid 1px rgba(233,233,233,.5);
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.2);
        height: 100px;
    }
    .statistics div p{
        font-size: 14px;
        line-height: 36px;
    }
    .statistics div p:last-of-type{
        font-size: 36px;
        color: #19A078;
    }
    .statistics blockquote{
        padding: 0;
        margin:0;
    }
    .during{
        width: 200px!important;
    }
    </style>
</head>

<body>
    <div class="x-nav">
        <span>当前位置：</span>
        <span class="layui-breadcrumb">
      <a href="">查询统计</a>
      <a href="javascript:location.replace(location.href);">客户管理</a>
      <a>
        <cite>订单统计</cite>
      </a>
    </span>
    </div>
    <div class="layui-row statistics">
                <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                    <blockquote class="layui-elem-quote">
                        <div class="layui-card">
                            <div class="layui-card-body layui-text layui-row">                          
                                <p>今日订单数</p>
                                <p>321</p>
                            </div>
                        </div>
                    </blockquote>
                </div>
                <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                    <blockquote class="layui-elem-quote">
                        <div class="layui-card">
                            <div class="layui-card-body layui-text layui-row">   
                                <p>本周订单数</p>
                                <p>21236</p>
                            </div>
                        </div>
                    </blockquote>
                </div>
                <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                    <blockquote class="layui-elem-quote">
                        <div class="layui-card">
                            <div class="layui-card-body layui-text layui-row">     
                                <p>总订单数</p>
                                <p>512213</p>
                            </div>
                        </div>
                    </blockquote>
                </div>
            </div>
    <div class="search-settings">
        <blockquote class="layui-elem-quote">
            <form class="layui-form" action="">
                <div class="layui-row">
                    <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                        <div class="layui-form-item">
                            <label class="layui-form-label">订单号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="order_no" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                        <div class="layui-form-item">
                            <label class="layui-form-label">箱体名称</label>
                            <div class="layui-input-inline">
                                <input type="text" name="name" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <div class="layui-form-item">
                            <label class="layui-form-label">下单时间</label>
                            <div class="layui-input-inline during">
                                <input type="text" class="layui-input" id="during" placeholder=" - " value="2017-01-01 - 2018-01-18">
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-xs2 layui-col-sm2 layui-col-md2">
                        <div class="layui-form-item">
                            <div class="layui-input-inline">
                                <button class="layui-btn layui-btn-sm my-gr-btn" lay-submit lay-filter="search">立即查询</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </blockquote>
    </div>
    <div class="table-container">
        <table id="customerlist" lay-filter="customers"></table>
       <!--  <div class="layui-input-inline extra">
            <button class="layui-btn layui-btn-danger layui-btn-sm" onclick="delChecked()"><i class="layui-icon"></i>删除选中</button>
            <button class="layui-btn layui-btn-normal layui-btn-sm" onclick="showModal('添加账号','customeredit.html','880','430')"><i class="layui-icon"></i>添加账号</button>
        </div> -->
    </div>
    <script type="text/javascript" src="../js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="../lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="../js/xadmin.js"></script>
    <script type="text/javascript" src="../js/function.js"></script>
    <script>
        layui.use('table', function() {
            var table = layui.table;
            table.render({
                elem: '#customerlist'
                    // ,height: 'full-280'
                    ,
                url: '../data/orderlist.json' //数据接口
                    ,
                page: true //开启分页
                    ,
                limits: [10, 30, 60],
                limit: 10,
                cols: [
                    [ //表头
                         { field: 'id', title: '序号', sort: true, align: 'center', width: 70 }
                        , { field: 'order_no', title: '订单号', align: 'center',width:110 }
                        , { field: 'price', title: '订单金额', align: 'center' ,width:90, sort: true}
                        , { field: 'box_num', title: '箱体数量', align: 'center',width:90, sort: true }
                        , { field: 'name', title: '收货人', align: 'center', width: 90 }
                        , { field: 'address', title: '收货地址', align: 'center'}
                        , { field: 'time', title: '下单时间', align: 'center', width: 136, sort: true}
                        , { field: 'type', title: '支付方式', align: 'center', width: 80 }
                         , { field: 'status', title: '订单状态', align: 'center',width:90,templet:"#status", sort: true}
                        // , { title: '操作', align: 'center', toolbar: '#toolbar', width: 100 }
                         , {field: 'action', title: '操作',align:'center',templet: '#action',width:80}
                    ]
                ],
                page: true
            });

        });
        layui.use('laydate', function(){
          var laydate = layui.laydate;   
          //日期范围
          laydate.render({
            elem: '#during'
            ,range: true
          });    
        });
    </script>
    <script type="text/html" id="status">
      <p class="layui-table-link">
        {{#  if(d.status=="未审核"){         }}
               <span style="color: #F40">未审核</span>
        {{#  }    }} 
        {{#  if(d.status=="未付款"){         }}
               <span style="color: #966">未付款</span>
        {{#  }    }} 
        {{#  if(d.status=="已付款"){         }}
               <span style="color: #c63">已付款</span>
        {{#  }    }} 
        {{#  if(d.status=="待发箱"){         }}
               <span style="color:#90c">待发箱</span>
        {{#  }    }} 
        {{#  if(d.status=="已发箱"){         }}
               <span style="color: #19A078">已发箱</span>
        {{#  }    }} 
        {{#  if(d.status=="租用中"){         }}
               <span style="color: #c39">租用中</span>
        {{#  }    }} 
        {{#  if(d.status=="待收箱"){         }}
               <span style="color: #f90">待收箱</span>
        {{#  }    }}
        {{#  if(d.status=="已完成"){         }}
               <span style="color: #69c">已完成</span>
        {{#  }    }} 
        
            
     <!--  {{d.status}} -->
      </p>
    </script>
     <script type="text/html" id="action">
      <!-- <a class="layui-table-link" onclick="showOrder('查看订单详情','orderdetail.html','','','{{d.id}}','{{d.status}}')">{{d.action.view}}</a>
      <span class="vert-line"></span> -->
     <!--  <a class="layui-table-link" onclick="showModal('{{d.sitename}}的详情','launchdetail.html')"> -->
        <!-- {{d.action.todo}} -->
        {{#  if(d.status=="未审核"){         }}
            <a class="layui-table-link" onclick="showOrder('订单{{d.order_no}}的详情','orderdetail.html','','','{{d.id}}','{{d.status}}')">去审核</a>
        {{#  }    }} 
        {{#  if(d.status=="未付款"){         }}
            <a class="layui-table-link" onclick="showOrder('订单{{d.order_no}}的详情','orderdetail.html','','','{{d.id}}','{{d.status}}')">去催款</a>
        {{#  }    }} 
        {{#  if(d.status=="已付款"){         }}               
            <a class="layui-table-link" onclick="showOrder('订单{{d.order_no}}的详情','orderdetail.html','','','{{d.id}}','{{d.status}}')">去收款</a>
        {{#  }    }} 
        {{#  if(d.status=="待发箱"){         }}
            <a class="layui-table-link" onclick="showOrder('订单{{d.order_no}}的详情','orderdetail.html','','','{{d.id}}','{{d.status}}')">去发箱</a>
        {{#  }    }} 
        {{#  if(d.status=="已发箱"){         }}
            <a class="layui-table-link" onclick="showOrder('订单{{d.order_no}}的详情','orderdetail.html','','','{{d.id}}','{{d.status}}')">查物流</a>
        {{#  }    }} 
        {{#  if(d.status=="待收箱"){         }}
            <a class="layui-table-link" onclick="showOrder('订单{{d.order_no}}的详情','orderdetail.html','','','{{d.id}}','{{d.status}}')">去收箱</a>
        {{#  }    }} 
        {{#  if(d.status=="租用中"){         }}
            <a class="layui-table-link" onclick="showOrder('订单{{d.order_no}}的详情','orderdetail.html','','','{{d.id}}','{{d.status}}')">看详情</a>
        {{#  }    }} 
        {{#  if(d.status=="已完成"){         }}
            <a class="layui-table-link" onclick="showOrder('订单{{d.order_no}}的详情','orderdetail.html','','','{{d.id}}','{{d.status}}')">查流程</a>
        {{#  }    }} 
    <!--   </a> -->
    </script>
    <script type="text/javascript">
        layui.use('table', function(){
          var table = layui.table;
          table.on('tool(customers)', function(obj){
            // var data = obj.data;
            // if(obj.event === 'view'){
            //   //layer.msg('ID：'+ data.id + ' 的查看操作');
            //   showModal('查看账号详情','accountedit.html','680','380');
            // } else 
            if(obj.event === 'delete'){
              layer.confirm('真的删除行么？', function(index){
                obj.del();
                layer.close(index);
              });
            }else if(obj.event === 'forbid'){
              layer.confirm('冻结后该账号将不能访问系统！', function(index){
                obj.data.status="冻结";
                layer.close(index);
              });
            }
          });
        });
    </script>
    <!--  <script type="text/javascript">
    layui.use('laydate', function () {
      var laydate = layui.laydate;

      laydate.render({
        elem: '#start'
      });
      laydate.render({
        elem: '#end' //指定元素
      });

    });
  </script> -->
</body>

</html>